*{
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  /* Define estilos padrão para todos os elementos, incluindo a família de fontes, alinhamento centralizado, texto em caixa alta e peso da fonte. */
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 8%;
  padding-top: 90px ;
  /* Define o estilo para o conteúdo, usando flexbox para alinhar o conteúdo à esquerda e ao topo, e definindo o recuo superior e esquerdo. */
}

.card{
  background: #7343c0;
  border-radius: 30px;
  box-shadow: 0px 2px 23px #441ab8;
  /* Define o estilo para o cartão, especificando a cor de fundo, borda arredondada e sombra. */
}

.mediaCard{
  background: url(imagens/Caminhão\ 3-4.jpg) center/cover;
  height: 200px;
  width: 260px;
  /* Define o estilo para a mídia do cartão, usando uma imagem de fundo com posição central e dimensionamento de capa, e definindo a altura e largura. */
}

.topCard{
  padding: 20px;
  /* Define o estilo para a parte superior do cartão, especificando o preenchimento interno. */
}

.bottomText {
  padding: 10px ;
  /* Define o estilo para o texto inferior, especificando o preenchimento interno. */
}

.button {
  flex-basis: 50%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  width: 200px;
  border-radius: 60px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
  display: block;
  margin: 10px auto; 
  /* Define o estilo para o botão, especificando a largura, altura, cor de fundo, cor do texto, borda arredondada, ausência de borda e contorno, cursor como ponteiro, transição suave de cor de fundo, exibição como bloco e margem automática. */
}

.content1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 13.5%;
  /* Define o estilo para o conteúdo1, usando flexbox para alinhar o conteúdo à esquerda e ao topo, e definindo o recuo esquerdo. */
}

.card1{
  background: #7343c0;
  border-radius: 30px;
  box-shadow: 0px 2px 23px #441ab8;
  /* Define o estilo para o cartão1, especificando a cor de fundo, borda arredondada e sombra. */
}

.mediaCard1{
  background: url(imagens/caminhão\ toco.jpg) center/cover;
  height: 200px;
  width: 260px;
  /* Define o estilo para a mídia do cartão1, usando uma imagem de fundo com posição central e dimensionamento de capa, e definindo a altura e largura. */
}

.topCard1{
  padding: 20px;
  padding-top: px;
  /* Define o estilo para a parte superior do cartão1, especificando o preenchimento interno. */
}

.bottomText1 {
  padding: 10px ;
  /* Define o estilo para o texto inferior1, especificando o preenchimento interno. */
}

.button1 {
  flex-basis: 50%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  width: 200px;
  border-radius: 60px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
  display: block;
  margin: 10px auto; 
  /* Define o estilo para o botão1, especificando a largura, altura, cor de fundo, cor do texto, borda arredondada, ausência de borda e contorno, cursor como ponteiro, transição suave de cor de fundo, exibição como bloco e margem automática. */
}

.content2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 150px;
  /* Define o estilo para o conteúdo2, usando flexbox para alinhar o conteúdo à esquerda e ao topo, e definindo o recuo esquerdo. */
}

.card2{
  background: #7343c0;
  border-radius: 30px;
  box-shadow: 0px 2px 23px #441ab8;
  /* Define o estilo para o cartão2, especificando a cor de fundo, borda arredondada e sombra. */
}

.mediaCard2{
  background: url(imagens/Caminhão\ truck.jpg) center/cover;
  height: 200px;
  width: 260px;
  /* Define o estilo para a mídia do cartão2, usando uma imagem de fundo com posição central e dimensionamento de capa, e definindo a altura e largura. */
}

.topCard2{
  padding: 20px;
  padding-top: px;
  /* Define o estilo para a parte superior do cartão2, especificando o preenchimento interno. */
}

.bottomText2 {
  padding: 10px ;
  /* Define o estilo para o texto inferior2, especificando o preenchimento interno. */
}

.button2 {
  flex-basis: 50%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  width: 200px;
  border-radius: 60px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
  display: block;
  margin: 10px auto; 
  /* Define o estilo para o botão2, especificando a largura, altura, cor de fundo, cor do texto, borda arredondada, ausência de borda e contorno, cursor como ponteiro, transição suave de cor de fundo, exibição como bloco e margem automática. */
}

.snip1226 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /* Define estilos de transição para todos os elementos dentro do snip1226. */
}

.snip1226 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
  /* Define o estilo para a lista dentro do snip1226, especificando a exibição em linha, removendo a estilização de marcadores de lista, definindo margem e ocultando o conteúdo que transborda. */
}

.snip1226 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  /* Define o estilo para os links dentro do snip1226, especificando o preenchimento interno, cor do texto, posição relativa, exibição em linha, espaçamento entre letras, margem e removendo a decoração do texto. */
}

.snip1226 a:before,
.snip1226 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  /* Define estilos de transição para os pseudo-elementos antes e depois dos links no snip1226. */
}

.snip1226 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
  /* Define o estilo para o elemento antes do link no snip1226, especificando a posição como abaixo do link, altura, largura, conteúdo vazio e cor de fundo. */
}

.snip1226 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
  /* Define o estilo para o elemento depois do link no snip1226, especificando o preenchimento interno, posição como abaixo do link, esquerda, conteúdo (usando o atributo data-hover), cor do texto, espaço em branco e não quebra de linha. */
}

.snip1226 li:hover a,
.snip1226 .current a {
  transform: translateY(100%);
  /* Define o estilo para os links ao passar o mouse ou quando estiverem selecionados no snip1226, especificando a transformação para mover o link para cima. */
}

/* Estilos de demonstração apenas */
body {
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url(imagens/Background\ Caminhões.png);
  background-position: center;
  background-size: cover;
  position: relative;
  width: 99%;
  height: 93.5vh;
  /* Define estilos de fundo para o corpo da página, usando uma imagem de gradiente linear e uma imagem de fundo, especificando a posição e o dimensionamento do fundo, posição relativa, largura, altura. */
}